@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --bodyBackground: #f2f4f8;
  --successGreen: #00ff84;
  --dangerRed: #ffc0c7;
  --questionBG: #e4e8ee;
  --fontPrimary: #002333;
  --active: #2dbf64;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fontPrimary);
  font-family: "Montserrat", sans-serif;
 
}

body {
  background-color: var(--bodyBackground);
}

a {
  text-decoration: none !important;
  color: blue;
}

.fs-7{
  font-size: .8rem!important;
}
/*Outlet */
.bg-outlet{
  background-color: #f9fafb;
}
/*Account component*/
.account {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
}

.account > span:last-child {
  cursor: pointer;
}


/* Top nav component */
.topNavBorder{
  border-bottom: 1px solid #e5e5e5;
}
.topNav{
  background-color: white;
  height: 4rem;
  padding: 1px;
}

/* Side nav component */
.sideNavBorder{
  border-bottom: 1px solid #e5e5e5;
}
.sideNav{
  background-color: rgba(25, 9, 49, 0.267);
}
.container-fluid ul li {
  background-color: #2d00aa!important;
  color:white;
}

.container-fluid ul a:hover{
  background-color: #e5e5e5;
  color:black;
} 
.container-fluid ul a{
  color: white;
  font-size: 17px;
  font-weight: 100;
}

/* layout component */
.main {
  width: 100%;
  padding: 4rem 0;
}


.rdt_Table{
  border: 1px solid #e9ecef;
}


